body{ margin:0;
font-family: fantasy;}
.topnav{
overflow:hidden;
background-color: bisque;

}

.topnav a{

float:left;
display:block;
color: blue;
text-align: center;
padding:14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover{

background-color: darkgreen;
    
}

.topnav a.active {

background-color: brown;

}




